.page {
  .section {
    margin-top: 15px;
    .title {
      margin-bottom: 5px;
      font-weight: bold;
    }
    .content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .item {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
}