.page {
  .switch {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
  }
  .section {
    margin-top: 15px;
    .title {
      margin-bottom: 5px;
      font-weight: bold;
    }
  }
}